@model IEnumerable<ISK_Rekrutacja.DAL.Client>

@{
    ViewData["Title"] = "ShowClients";
}

<div class="container">
    <div class="row">
        <div class="col-auto">
            <form autocomplete="off" asp-antiforgery="true" asp-action="ExportToExcel" method="post">
                <button type="submit" id="btnsubmit" class="btn btn-success">Export to Excel</button>
            </form>
        </div>
        <div class="col-auto">
            <form asp-action="ShowClients" method="get">
                <input type="text" name="searchName"/>
                <button class="btn btn-secondary" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Age)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Delete" asp-route-clientId="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>